
menuconfig SND_SOC_TAS2560_STEREO
	tristate "Texas Instruments TAS2560 SmartAmp(R)"

if SND_SOC_TAS2560_STEREO
config TAS2560_REGMAP_STEREO
    bool "Use of RegMap API"

config TAS2560_CODEC_STEREO
    bool "Codec Driver support"

config TAS2560_MISC_STEREO
    bool "Misc Driver support"

endif # SND_SOC_TAS2560_STEREO
